/* エラー */

.bl_alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 1.2rem 2rem;
    margin-bottom: 1.6rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
}


/* ページタイトル */

.bl_pageTitle{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;

    h2{
        color: #F29800;
        font-size: 2rem;

        @include tb{
            font-size: 3.2rem;
        }
    }
}

/* フォーム */

.bl_form{
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    .bl_form_group{
        margin-top: 3.2rem;
        margin-bottom: 1.6rem;

        .bl_form_label{
            display: block!important;
            font-weight: 600;
            color: rgb(68, 74, 78);
            font-size: 1.2rem;

            @include tb{
                font-size: 1.6rem;
            }
        }

        .bl_form_input{
            width: 100%;
            padding: 0.6rem 1.2rem;
            border: 1px solid #ced4da;
            border-radius: 0.4rem;
            height: calc(3.6rem + 2px)
        }
    }
}

/* テーブル */
.bl_table{
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    text-align: left;

    td{
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
    }
}

.el_editLink{
    a:hover{
        text-decoration: underline;
    }
}

/* ボタン */

.el_btn{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: 0 1.6rem;
    line-height: 3;
    border-radius: .5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: #fff;

    &.hp_widthFull{
        width: 100%;
    }
    &:not(:disabled){
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
    &:disabled {
        background-color: #D8D8D8;
        opacity: 0.6;
    }
}

.el_btnOrange{
    background-color: #F29800;

    &:hover {
        background-color: #e67f0afa;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem #ffc107;
    }
    &:disabled {
        background-color: #D8D8D8;
        opacity: 0.6;
    }
}

.el_btnOutlineOrange{
    font-weight: 400;
    padding: .6rem 1.2rem;
    line-height: 1.5;
    border: 2px solid #F29800;
	color: #F29800;
	background-color: #fff;
    min-width: auto;

    &:hover {
        color: #fff;
        background-color: #F29800;
        border-color: #F29800;
    }
}

.el_btnOutlineGreen{
    font-weight: 400;
    padding: .6rem 1.2rem;
    line-height: 1.5;
    border: 2px solid #27A744;
	color: #27A744;
	background-color: #fff;
    min-width: auto;

    &:hover {
        color: #fff;
        background-color: #27A744;
        border-color: #27A744;
    }
}

.el_btnOutlineRed{
    font-weight: 400;
    padding: .6rem 1.2rem;
    line-height: 1.5;
    border: 2px solid #dc3545;
	color: #dc3545;
	background-color: #fff;
    min-width: auto;

    &:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
}

.el_btnOutlineBlack{
    font-weight: 400;
    padding: .4rem .8rem;
    line-height: 1.5;
    border: 2px solid #343A3F;
	color: #343A3F;
	background-color: #fff;
    min-width: auto;

    &:hover {
        color: #fff;
        background-color: #343A3F;
        border-color: #343A3F;
    }
}

.el_btnDelete{
    font-weight: 400;
    min-width: auto;
	border-bottom: 1px solid red;
    border-radius: unset;
    line-height: 1.5;
    background-color: transparent;
	margin-top: 20px;
	margin-bottom: 1rem !important;
	color: red;

    &:hover {
        color: #8f0a0a;
        border-bottom: 1px solid #8f0a0a;
    }
    &:focus {
        outline: none;
    }
}
// チェックボックス
.bl_checkBox {
    padding-right: 30px;
}