@charset "UTF-8";

/* ヘルパー関数 */

.hp_mt{
    margin-top: 1rem;
}

.hp_mb{
    margin-bottom: 1.6rem;
}

.hp_mt4{
    margin-top: 4rem;
}

.hp_ml{
    margin-left: 2.4rem;
}
.hp_pt4{
    padding-top: 4rem;
}

.hp_textCenter{
    text-align: center!important;
}

.hp_textLeft{
    text-align: start!important;
}

.hp_textRight{
    text-align: end!important;
}

.hp_colorRed{
    color: red;
}

.hp_colorOrange{
    color: orange;
}

.hp_colorBlue{
    color: blue;
}

.hp_borderTop{
    border-top: 1px solid #dee2e6;
}

.hp_widthHalf{
    width: 48%;
}