/* 在庫確認・買い出しリスト */

.el_itemImg {
    width: 15%;
}

.bl_main {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    padding: 20px 15px;
    margin-bottom: 30px;

    .bl_CategoryTitle {
        padding-left: 0.8rem;
        padding-bottom: 1rem;
        font-size: 2.6rem;
        border-bottom: 3px solid #dee2e6;
    }
}

.bl_firstGuideImg {
    width: 100%;
    max-width: 700px;
}

.bl_selectWrap {
    display: inline;
    position: relative;
    width: 10rem;
}

// safariのみ表示変える
_:lang(x)+_:-webkit-full-screen-document, .bl_selectWrap select {
    padding: .6rem 1.8rem .6rem 1.2rem!important;
}
_:lang(x)+_:-webkit-full-screen-document, .bl_selectWrap::after {
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    border: 0px;
    border-bottom: solid 2px #d0cccc;
    border-right: solid 2px #d0cccc;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 35%;
    right: .8rem;
}

/* タブ切り替え */

.bl_mainTab {
    display: flex;
    margin-top: 2.4rem;
    border-bottom: 1px solid #dee2e6;

    .bl_mainTab_item {
        color: #d0cccc;
        background-color: #f8f9fa;
        flex: 1 1 0;
        text-align: center;
        border: 1px solid transparent;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        padding: 0.8rem 1.6rem;

        &.active {
            color: #F29800;
            font-weight: bold;
            background-color: #fff;
            border-color: #dee2e6 #dee2e6 #fff;
            margin-bottom: -1px;
        }
        &:not(.active):hover {
            background-color: #dae0e5;
        }

    }
}

/* フィルター */

.bl_filter {
    display: flex;
    justify-content: center;

    .bl_filter_item {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:disabled) {
            background-color: #D8D8D8;
            opacity: 0.6;
        }
        &:disabled {
            background-color: #525150;
        }
    }
}

/* 検索フォーム */

.bl_searchForm {
	margin:0 auto 20px;
	background-color: #e6e3cf;
	justify-content: space-between;
	position: relative;
	max-width:300px;
	height:5rem;

    .bl_searchBox {
        height:5rem;
        padding:0 10px;
        border:none;
        background:none;

        &:focus {
            border:none;
            outline: none;
        }
    }
    .bl_searchBtn {
        height:5rem;
        background:none;
        color:#666;
        border:none;
        position:absolute;
        right: 10px;
        top:0;

        &:hover {
            color:#F29800;
        }
        &:focus {
            border:none;
            outline: none;
        }
    }
    input:-webkit-autofill {
        box-shadow: 0 0 0 1000px #e6e3cf inset;
    }
}